# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Database
Main_App/data.db

# Logs
*.log.env
.streamlit/secrets.toml
Main_App/.streamlit/secrets.toml
Main App/
